body {
  width: 1280px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #163152;
  background-color: #FDFDFF;
  margin: 0;
  padding: 0;
}

.page-header {
  width: 1170px;
  margin: 0 auto;
  padding: 20px 55px;
  margin-bottom: 40px;
}

.main-content {
  width: 1170px;
  margin: 0 auto;
  padding: 0 55px;
}

.main-nav {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-nav .logo {
  width: 64px;
  margin: 0;
}

.main-nav ul {
  max-width: 990px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: 40px;
  margin-left: auto;
}

.main-nav .signin {
  width: 36px;
  height: 36px;
  border: 1px solid rgba(0, 198, 189, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav .signin:hover {
  opacity: 0.5;
}

.main-nav .signin:active {
  opacity: 0.3;
}

.signin img {
  width: 16px;
  height: 18px;
  display: block;
  padding: 0;
  margin: 0;
}

.hero {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.hero img {
  display: block;
}

.blog-article-1 {
  width: 1030px;
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 100px;
}

.blog-article-2 {
  width: 1030px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 120px;
}

.blog-container-1 {
  margin-right: 30px;
}

.image-container {
  margin-right: 30px;
}

.news-article {
  width: 770px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.news-article-hero figure {
  width: 770px;
  margin: 0 auto;
}

.blog-article-date {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.nav-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.nav-item a:hover {
  color: rgba(22, 49, 82, 0.5);
}

.nav-item a:active {
  color: rgba(22, 49, 82, 0.3);
}

a {
  color: #163152;
  text-decoration: none;
}

.hero h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-left: 70px;
  font-style: italic;
  font-weight: 400;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
}

.blog-article-1 h2,
.blog-article-2 h2 {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00C6BD;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.blog-article-1 img,
.blog-article-2 img {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.rent {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 120px;
}

.rent h2 {
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00C6BD;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
  margin: 0;
  margin-bottom: 55px;
}

.rent-item h3 {
  font-size: 20px;
  line-height: 23px;
  margin: 0;
  margin-bottom: 18px;
}

.rent-item {
  width: 370px;
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0px 4px 30px 0px rgba(22, 49, 82, 0.12);
}

.rent-item p {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.rent-item-options {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  padding-left: 18px;
  list-style: none;
}

.rent-item-options li {
  display: list-item;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 4px;
  list-style-image: url(../img/Ellipse\ 1.svg);
}

.rent-item span {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.rent-item .cost {
  display: flex;
  justify-content: space-between;
}

.rent-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.rent-list img {
  display: block;
  margin: 0;
  margin-bottom: 21px;
}

.gallery h2 {
  height: 34px;
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00C6BD;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
  margin: 0;
  margin-bottom: 55px;
  text-align: center;
  grid-column: span 2;
}

.gallery-image-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery-image-list a img {
  display: block;
  margin: 0;
  padding: 0;
}

.gallery {
  width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 970px 170px;
  column-gap: 30px;
  margin-bottom: 120px;
}

.active-image {
  padding: 0;
  margin: 0;
}

.gallery-image-item {
  margin-bottom: 30px;
}

.gallery-image-item:last-child {
  margin-bottom: 0;
}

.gallery-image-list a {
  position: relative;
  display: block;
}

.gallery-image-list a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(253, 253, 255, 0.5);
}

.gallery-image-list a.active::before {
  background-color: rgba(0, 0, 0, 0);
}

.news-article h2 {
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00C6BD;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
  margin-top: 0;
  margin-bottom: 55px;
  text-align: center;
}

.news-article-hero ul {
  font-size: 18px;
  line-height: 26px;
  list-style: disc;
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 19px;
}

.news-article-hero li {
  margin-bottom: 8px;
}

.news-article-img figcaption {
  font-size: 16px;
  line-height: 19px;
  color: #8693a4;
  margin: 0;
  margin-bottom: 33px;
}

.news-article-img img {
  display: block;
  margin: 0;
  margin-bottom: 17px;
}

.news-article-hero h3 {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-top: 33px;
  margin-bottom: 27px;
}

.news-article-hero p {
  font-size: 18px;
  line-height: 26px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.news-article-hero h4 {
  font-size: 20px;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 15px;
}

.news-article-hero ins {
  text-decoration: none;
}

.news-article-hero blockquote {
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  border-left: 2px solid rgba(0, 198, 189, 1);
  margin: 0;
  margin-top: 38px;
  margin-bottom: 30px;
  padding-left: 20px;
}

.news-article-footer {
  width: 770px;
  margin: 0;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.news-article-footer-img {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0;
  margin-right: 15px;
}

.news-article-footer-meta {
  width: 150px;
  margin-right: auto;
}

.news-article-footer-meta a {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #163152;
  text-decoration: none;
}

.news-article-footer-meta time {
  font-size: 16px;
  line-height: 19px;
  color: #8693a4;
}

.news-article-footer-share {
  display: block;
  width: 26px;
  height: 22px;
}

.news-article-footer-share:hover {
  opacity: 0.5;
}

.news-article-footer-share:active {
  opacity: 0.3;
}

.contacts {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.contacts map {
  width: 670px;
  margin-right: 100px;
}

.contacts-list {
  width: 360px;
}

.contacts-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 198, 189, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item img {
  display: block;
  margin: 0;
}

.social-list {
  display: flex;
  gap: 15px;
}
.contacts h2 {
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00C6BD;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 35px;
}

.contact-item h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 15px;
}

.contact-item {
  font-size: 16px;
  line-height: 22px;
  display: flex;
  gap: 10px;
}

.contacts-list a {
  display: block;
  margin: 0;
  padding: 0;
}

.contact-item-social {
  font-size: 16px;
  line-height: 22px;
}

.contact-item-social h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 15px;
}

.contact-item address {
  font-style: normal;
  margin: 0;
  padding: 0;
}

.page-footer {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  padding-top: 60px;
  padding-bottom: 62px;
}

.page-footer-container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-logo-wrapper {
  width: 175px;
  margin-left: 55px;
  margin-right: 125px;
  padding: 0;
}

.footer-logo {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.footer-logo img {
  display: block;
  margin: 0;
}

.footer-navigation-topics {
  width: 870px;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 55px;
}

.footer-navigation-topic:last-child {
  margin-right: 0;
}

.footer-navigation-topic {
  width: 165px;
  margin-right: 70px;
}

.page-footer-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation-topic h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.policy,
.copyright {
  font-size: 10px;
  line-height: 12px;
}

.footer-navigation-item {
  font-size: 14px;
  line-height: 16px;
}

.footer-navigation-item {
  display: block;
  margin-bottom: 12px;
}

.footer-navigation-item:last-child {
  margin-bottom: 0;
}
